* {margin: 0; padding: 0;}

body {
   margin:0;
   background: #635f51;
   font-size: 0.75em;
   font-weight: normal;
   font-family: Tahoma,arial,sans-serif;
   text-align: justifity;
   color: #60564e;
}

#site {
width:800px;
border: solid rgb(96,96,96); border-width: 0 1px;

margin: auto;

}

#header1 {
width:800px;
height:8px;
float:left;
margin: center;
}

#logo {
width:800px;
height:192px;
float:left;
margin: center;
}

#header2 {
width:800px;
height:13px;
margin: center;
float:left;
}


#bg_tlo {
width:800px;
height:auto;
float: left;
background: #d3cebc url(../images/bg.jpg);
min-height:800px;
repeat-x;
}

#left {
width:72%; 
float: left;
} 

#home {
margin-left: 15px;
padding 10 px;

}


#left_inner{
margin: 5px 17px 5px 15px;
padding: 5px;
background:#d9d4c2;
border: solid #958867; border-width: 5px 0 0 0;

}


#right {
width:28%; 
float: left;
}

#right_inner{
margin: 5px 11px 5px -1px;
padding: 5px;
background:#e3e0d1;
border: solid #6f5f40; border-width: 5px 0 0 0;



}

#footer {
width:800px;
background: #d3cebc url(../images/footer.jpg);
repeat-y;
height:auto;
}

#footerinner {
padding: 10px ; 
margin-top:5px;
text-align:right;
font-size:.9em;
color:#fff;

}

div#home li{
font-size:1.2em;
padding-bottom:3px;
list-style:none;
}



div#home h1{
font-size:1.5em;
border: dotted #60564e; border-width: 0 0 1px 0;
padding:5px 0;
margin-bottom:10px;

}

.clear{
clear:both;

}
hr {
color: #fff;
}

                                                
A:link {text-decoration: underline; color:rgb(67,67,67);}
A:visited {text-decoration: underline; color:rgb(96,96,96);}
A:active {text-decoration: none; color:rgb(80,0,0);}
A:hover {text-decoration: underline; color: rgb(0,0,0);}

img {
border: 0px;
}
